<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
	  <title>NRP</title>
	  <meta name="description" content="NRP Dashboard"/>
	  <link rel="canonical" href="http://127.0.0.1/"/>
	  <link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
	  <div class="dashmain">
	    <div class="dashuser">
	      <h1>NRP</h1>
	      <h2>{{ username }}</h2>
	      <span>Age: </span><span>{{ age }}</span>
	      <span>Height: </span><span>{{ height }}</span>
	      <span>Sex: </span><span>{{ sex }}</span>
	      <span>Mass: </span><span>{{ mass }}</span>
	      <span>Blood Pressure: </span>
	      <span>Systolic: </span><span>{{ systolic }}</span>
	      <span>Diastolic: </span><span>{{ diastolic }}</span>
      	      <span>Time Zone: </span><span>{{ timezone }}</span>
	    </div>
	    <div class="dashnav">
	      <span><a href="../today/">Today</a></span>
	      <span><a href="../food/">Food Journal</a></span>
	      <span><a href="../report/">Reporting</a></span>
      	      <span><a href="../user/">User Data & Settings</a></span>
	      <span><a href="../admin/">Administrative Console</a></span>
	    </div>
